*
!.gitignore
!abs.conf
!/acpi/
!acpi/*
!adjtime
!anacrontab
!arch-release
!bash.bash_logout
!bash.bashrc
!ca-certificates.conf
!/cron.d/
!cron.d/*
!/cron.daily/
!cron.daily/*
!cron.deny
!/cron.hourly/
!cron.hourly/*
!/cron.monthly/
!cron.monthly/*
!/cron.weekly/
!cron.weekly/*
!/cups/
!cups/*
!/default/
!default/*
!dhcpcd.conf
!environment
!fstab
!gemrc
!/grub.d/
!grub.d/*
!host.conf
!hostname
!hosts
!issue
!/ifplugd/
!ifplugd/*
!/iptables/
!iptables/*
!locale.conf
!locale.gen
!localtime
!login.defs
!logrotate.conf
!/logrotate.d/
!logrotate.d/*
!makepkg.conf
!man_db.conf
!mkinitcpio.conf
!motd
!/modprobe.d/
!modprobe.d/*
!/modules-load.d/
!modules-load.d/*
!Muttrc
!Muttrc.dist
!Muttrc.gpg.dist
!/openldap/
!openldap/*
!pacman.conf
!/pulse/
!pulse/*
!/rc.d/
!rc.d/*
!shells
!/skel/
!skel/*
!/ssh/
!ssh/ssh_config
!ssh/sshd_config
!slim.conf
!sudoers
!sysctl.conf
!/systemd/
!systemd/*
!/systemd/system/
!systemd/system/*
!thinkfan.conf
!/udev/
!/udev/rules.d/
!udev/rules.d/*
!/X11/
!X11/*
!/X11/xorg.conf.d/
!X11/xorg.conf.d/*
!yaourtrc
