[Unit]
Description=Set correct power-saving options on startup
Before=graphical.target

[Service]
ExecStart=/home/oxy/.local/bin/power-saving
ExecStop=/home/oxy/.local/bin/power-saving
RemainAfterExit=yes
Type=forking

[Install]
WantedBy=graphical.target
